.font-roboto{
    font-family: 'Roboto', sans-serif;
}

.font-inter{
    font-family: 'Inter', sans-serif;
}

.background-one{
    background-color: #f7f7f7;
}

.background-two{
    background-color: #f4f4f4;
}