
.font-roboto{
    font-family: 'Roboto', sans-serif;
}

.font-inter{
    font-family: 'Inter', sans-serif;
}

.background-one{
    background-color: #f7f7f7;
}

.background-two{
    background-color: #f4f4f4;
}

.btn-background{
    background-color: rgb(250, 204, 143);
}

.text-color{
    color: rgb(250, 204, 143);
}

.header-section{
    height: 530px;
    width: 100%;
}
