html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
}

.font-roboto{
    font-family: 'Roboto', sans-serif;
}

.font-inter{
    font-family: 'Inter', sans-serif;
}

.background-one{
    background-color: #f7f7f7;
}

.background-two{
    background-color: #f4f4f4;
}

.btn-background{
    background-color: rgb(250, 204, 143);
}

.text-color{
    color: rgb(250, 204, 143);
}

.header-section{
    height: 540px;
    width: 100%;
}

.header-section{
    margin-bottom: 210px;
}

.card{
    position: relative;
}

.card:hover .card-btn{
    visibility: visible;
    opacity: 1;
}

.card:hover .template-details-card-btn{
    visibility: visible;
    opacity: 1;
}

.card-btn{
    visibility: hidden;
    opacity:0;
    transition:visibility 0.5s linear,opacity 0.5s linear;
    position: absolute;
    top: 120px;
    left: 125px;
}

.owl-dots{
    padding-top: 16px;
    padding-bottom: 16px;
}


@media screen and (max-width: 880px) {
    .header-section{
        margin-bottom: 130px;
    }
}

@media screen and (max-width: 600px) {
    .header-section{
        margin-bottom: 130px;
    }
}

@media screen and (max-width: 560px) {
    .header-section{
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 1536px) {
    .template-details-card-btn{
        visibility: hidden;
        opacity:0;
        transition:visibility 0.5s linear,opacity 0.5s linear;
        position: absolute;
        top: 200px;
        left: 220px;
    }
}

@media screen and (max-width: 1280px) {
    .card-btn{
        visibility: hidden;
        opacity:0;
        transition:visibility 0.5s linear,opacity 0.5s linear;
        position: absolute;
        top: 140px;
        left: 170px;
    }
}

@media screen and (max-width: 1000px) {
    .card-btn{
        visibility: hidden;
        opacity:0;
        transition:visibility 0.5s linear,opacity 0.5s linear;
        position: absolute;
        top: 80px;
        left: 100px;
    }
}

@media screen and (max-width: 999px) {
    .card-btn{
        visibility: hidden;
        opacity:0;
        transition:visibility 0.5s linear,opacity 0.5s linear;
        position: absolute;
        top: 140px;
        left: 180px;
    }
}

@media screen and (max-width: 850px) {
    .card-btn{
        visibility: hidden;
        opacity:0;
        transition:visibility 0.5s linear,opacity 0.5s linear;
        position: absolute;
        top: 120px;
        left: 130px;
    }
}

@media screen and (max-width: 768px) {
    .card-btn{
        visibility: hidden;
        opacity:0;
        transition:visibility 0.5s linear,opacity 0.5s linear;
        position: absolute;
        top: 270px;
        left: 320px;
    }
}

@media screen and (max-width: 700px) {
    .card-btn{
        visibility: hidden;
        opacity:0;
        transition:visibility 0.5s linear,opacity 0.5s linear;
        position: absolute;
        top: 200px;
        left: 280px;
    }
}

@media screen and (max-width: 600px) {
    .card-btn{
        visibility: hidden;
        opacity:0;
        transition:visibility 0.5s linear,opacity 0.5s linear;
        position: absolute;
        top: 200px;
        left: 200px;
    }
}

@media screen and (max-width: 500px) {
    .card-btn{
        visibility: hidden;
        opacity:0;
        transition:visibility 0.5s linear,opacity 0.5s linear;
        position: absolute;
        top: 150px;
        left: 180px;
    }
}

@media screen and (max-width: 450px) {
    .card-btn{
        visibility: hidden;
        opacity:0;
        transition:visibility 0.5s linear,opacity 0.5s linear;
        position: absolute;
        top: 150px;
        left: 150px;
    }
}

@media screen and (max-width: 400px) {
    .card-btn{
        visibility: hidden;
        opacity:0;
        transition:visibility 0.5s linear,opacity 0.5s linear;
        position: absolute;
        top: 130px;
        left: 130px;
    }
}